<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <!-- Picture of user -->
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    WT
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="main"><i class="fa fa-area-chart"></i> <span class="nav-label">My history</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="minor"><i class="fa fa-check"></i> <span class="nav-label">Check In</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="love"><i class="fa fa-heart"></i> <span class="nav-label">Activities you love</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="discover"><i class="fa fa-bicycle"></i> <span class="nav-label">Discover new Activities</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="read"><i class="fa fa-book"></i> <span class="nav-label">Read about Depression</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="profile"><i class="fa fa-user"></i> <span class="nav-label">My Profile</span></a>
            </li>
        </ul>

    </div>
</nav>