<div ng-controller="activityDetailCtrl">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="checkin">Home</a>
            </li>
            <li>
                <a ui-sref="love">Activities</a>
            </li>
            <li class="active">
                <strong>{{thisActivity}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">
<div class="ibox">
<div class="ibox-content">
<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <a class="btn btn-white btn-xs pull-right">Edit Activity</a>

            <h2>{{thisActivity}} Details</h2>
        </div>
        <dl class="dl-horizontal">
            <dt>Status:</dt>
            <dd><span class="label label-primary">Active</span></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <dl class="dl-horizontal">

            <dt>Category:</dt>
            <dd>{{actObject.category}}</dd>
            <dt>Times done:</dt>
            <dd> {{timesDone}}</dd>
            <dt>Parent Activity:</dt>
            <dd>{{actObject.parentActivity}}</dd>
            <dt>Created On:</dt>
            <dd>{{actObject.createdOn |  date:medium}}</dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">



        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>Rating:</dt>
            <dd>
                <div ng-hide="notRated" class="progress progress-striped active m-b-sm">
                    <div style="width:{{totalRating}}%;" class="progress-bar"></div>
                </div>
                <small>Your Average rating for {{thisActivity}} is <strong>{{totalRating}}</strong>. Keep rating this activity to see how much you really love it.</small>
            </dd>
        </dl>
    </div>
</div>
<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel ui-tab">

            <tabset>
                <tab heading="Your Notes" active="tab.active" class="dsads">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Rating</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="n in notes track by $index">
                            <td>
                                <div ng-if="n.rating > 79">
                                   <span class="label label-primary"><i class="fa fa-smile-o"></i> {{n.rating}} </span>
                                </div>
                                <div ng-if="n.rating === 50">
                                    <span class="label label-info"><i class="fa fa-meh-o"></i> {{n.rating}} </span>
                                </div>
                                <div ng-if="n.rating ===30">
                                    <span class="label label-warning"><i class="fa fa-frown-o"></i> {{n.rating}} </span>
                                </div>
                                <div ng-if="n.rating === 0">
                                    <span class="label label-danger"><i class="fa fa-frown-o"></i> {{n.rating}} </span>
                                </div>

                            </td>
                            <td>
                               {{n.createdOn | date:medium}}
                            </td>
                            <td>
                               {{n.createdOn  | date:'h:mma'}}
                            </td>
                            <td>
                                <p class="small">
                                    {{n.note}}
                                </p>
                            </td>
                        </tr>

                    </tbody>
                        </table>
                </tab>
            </tabset>

        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>