<div ng-controller="activityDetailCtrl">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">

        <ol class="breadcrumb">
            <li>
                <a ui-sref="checkin">Home</a>
            </li>
            <li>
                <a ui-sref="love">Activities</a>
            </li>
            <li class="active">
                <strong>{{thisActivity}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-9">
<div class="wrapper wrapper-content animated fadeInUp">
<div class="ibox">
<div class="ibox-content">
<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <a class="btn btn-white btn-xs pull-right">Edit Activity</a>

            <h2>{{thisActivity}} Details</h2>
        </div>
        <dl class="dl-horizontal">
            <dt>Status:</dt>
            <dd><span class="label label-primary">Active</span></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <dl class="dl-horizontal">

            <dt>Category:</dt>
            <dd>{{actObject.category}}</dd>
            <dt>Times done:</dt>
            <dd> {{timesDone}}</dd>
            <dt>Parent Activity:</dt>
            <dd>{{actObject.parentActivity}}</dd>
            <dt>Created On:</dt>
            <dd>{{actObject.createdOn |  date:medium}}</dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">

            <dt>Last Updated:</dt>
            <dd>16.08.2014 12:15:57</dd>
            <dt>Created:</dt>
            <dd> 10.07.2014 23:36:57</dd>
            <dt>Participants:</dt>
            <dd class="project-people">
                <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>

            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>Rating:</dt>
            <dd>
                <div ng-hide="notRated" class="progress progress-striped active m-b-sm">
                    <div style="width:{{totalRating}}%;" class="progress-bar"></div>
                </div>
                <small>Your Average rating for {{thisActivity}} is <strong>{{totalRating}}</strong>. Keep rating this activity to see how much you really love it.</small>
            </dd>
        </dl>
    </div>
</div>
<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel ui-tab">

            <tabset>
                <tab heading="Your Notes" active="tab.active" class="dsads">
                    <div class="feed-activity-list">
                        <div class="feed-element" ng-repeat="n in notes track by $index">

                            <div class="media-body ">
                                <small class="pull-right">{{todayAct|date:medium}}</small>
                                <strong>On {{n.createdOn | date: medium}} You did this activity and rated it: </strong> {{n.rating}} <strong>%</strong><br>

                                <div class="well-lg">
                                    {{n.note}}
                                </div>
                            </div>
                        </div>


                    </div>
                </tab>
                <tab heading="Last activity">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Title</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                            </td>
                            <td>
                                Create project in webapp
                            </td>
                            <td>
                                12.07.2014 10:10:1
                            </td>
                            <td>
                                14.07.2014 10:16:36
                            </td>
                            <td>
                                <p class="small">
                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                </p>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                            </td>
                            <td>
                                Lorem Ipsum is that
                            </td>
                            <td>
                                12.07.2014 10:10:1
                            </td>
                            <td>
                                14.07.2014 10:16:36
                            </td>
                            <td>
                                <p class="small">
                                    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                            </td>
                            <td>
                                Contrary to popular
                            </td>
                            <td>
                                12.07.2014 10:10:1
                            </td>
                            <td>
                                14.07.2014 10:16:36
                            </td>
                            <td>
                                <p class="small">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                </p>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </tab>

            </tabset>

        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
        <h4>Project description</h4>
        <img src="img/zender_logo.png" class="img-responsive">

        <p class="small">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
        </p>

        <p class="small font-bold">
            <span><i class="fa fa-circle text-warning"></i> High priority</span>
        </p>
        <h5>Project tag</h5>
        <ul class="tag-list" style="padding: 0">
            <li><a ><i class="fa fa-tag"></i> Zender</a></li>
            <li><a ><i class="fa fa-tag"></i> Lorem ipsum</a></li>
            <li><a><i class="fa fa-tag"></i> Passages</a></li>
            <li><a><i class="fa fa-tag"></i> Variations</a></li>
        </ul>
        <h5>Project files</h5>
        <ul class="list-unstyled project-files">
            <li><a><i class="fa fa-file"></i> Project_document.docx</a></li>
            <li><a><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
            <li><a><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
            <li><a><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
        </ul>
        <div class="text-center m-t-md">
            <a  class="btn btn-xs btn-primary">Add files</a>
            <a  class="btn btn-xs btn-primary">Report contact</a>

        </div>
    </div>
</div>
</div>
</div>