<div ng-controller="checkIn">
<h1>{{topMessage}}</h1>

    <div ng-controller="rateCtrl" class="row"  ng-show="hideNo">
     <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Activities that need rated</h5>
            </div>
            <div class="ibox-content text-center">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="u in myUnrated">
                        <td  class="project-status">
                            <span id="unrated{{u._id}}" class="label label-info">Unrated</span>
                            <span class="label label-success" style="display: none" id="rated{{u._id}}"> <i class="fa fa-star"></i> Rated</span>
                            <span class="label label-success" style="display: none" id="noted{{u._id}}"> <i class="fa fa-star"></i> Noted</span>
                        </td>
                        <td class="project-title">
                            <a ui-sref="project_detail">{{u.activity}}</a>
                            <br/>
                            <small>Done on: {{u.createdOn | date: mediumDate}}</small>
                        </td>
                        <td class="project-completion">
                            <small id="feelHide{{u._id}}">How did it make you feel? </small>
                            <div id="buttonBnc{{u._id}}" class="btn-group-sm">
                                <button ng-click="rateOne(u._id,100)" class="btn btn-sm btn-primary">Way Better</button>
                                <button ng-click="rateOne(u._id,80)" class="btn btn-sm btn-success">A bit Better</button>
                                <button ng-click="rateOne(u._id,50)" class="btn btn-sm btn-info">Same</button>
                                <button ng-click="rateOne(u._id,30)" class="btn btn-sm btn-warning">A bit Worse</button>
                                <button ng-click="rateOne(u._id,0)" class="btn btn-sm btn-danger">Way Worse</button>
                            </div>

                        </td>

                        <td class="project-actions" id="notesMove{{u._id}}" >

                                <textarea ng-model="notes" placeholder="Write some notes"></textarea>
                                 <button ng-click="addNotes(u._id,notes)" style="margin-bottom: 30px" class="btn btn-info">Add notes</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row"   ng-controller="checkIn">
    <div class="col-lg-6" id="bouncer"  ng-show="hideThis"  >

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>How's your day going?</h5>
                <div ibox-tools></div>
                </div>
                    <div class="ibox-content text-center">

                        <form ng-submit="flyOut('great')" >
                            <button class="btn btn-primary btn-med-dim text"  type="submit">
                              <i class="fa fa-rocket"></i> I feel Great!</button><br>
                            </form>
                        <form ng-submit="flyOut('ok')" >
                            <button class="btn btn-info btn-med-dim" type="submit"><i class="fa fa-thumbs-up">
                             </i> I feel OK</button><br>
                        </form>

                        <form ng-submit="flyOut('notgood')" >
                            <button class="btn btn-warning btn-med-dim" type="submit"><i class="fa fa-thumbs-down"></i> Not so good</button><br>
                       </form>

                        <form ng-submit="flyOut('bad')" >
                            <button class="btn btn-danger btn-med-dim" type="submit"><i class="fa fa-ambulance"></i> I'm miserable</button>
                        </form>
                    </div>
        </div>
    </div>



        <div class="col-lg-10 col-lg-offset-1" id="bounceIn" style="display: none"  >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Great, Let's do an activity</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content text-center">
                 Here's a list of your activities
                    <table class="table table-hover">
                        <tr ng-repeat="a in myActivities |orderBy:predicate:reverse" >
                            <td class="project-status">
                                <span class="label label-primary">Positive</span>
                            </td>
                            <td class="project-title">
                                <a ui-sref="project_detail">{{a.activityName}}</a>
                                <br/>
                              <small>{{a.description}}</small>
                            </td>
                            <td class="project-completion">
                                <small>Success Rating : {{a.rating | number:2}}%</small>
                            </td>
                            <td class="project-actions">
                                <form ng-submit="doActivity(a.activityName)">
                                        <button type="submit" class="btn btn-white btn-sm"><i class="fa fa-soccer-ball-o"></i> Do This Activity </button>
                                        <a  class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                    <input type="hidden" name="actID" value="{{a.activityName}}">
                                </form>
                            </td>
                        </tr>
                    </table>
                    <a ui-sref="discover">Add a New Activity</a>
                </div>
            </div>
</div>

    <div class="wrapper wrapper-content animated" id="outRight">
        <div class="col-lg-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Today's Score </span>
                        <h2 class="font-bold"> {{dailyScore}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Average Score </span>
                        <h2 class="font-bold"> 40</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>






<div class="row" ng-controller="checkIn">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add some feedback for the site</h5>

            </div>
            <div class="ibox-content text-center">

                <textarea ng-model="feedback" rows="4" cols="50">

                </textarea> <button ng-click="addFeedback(feedback)">Post</button>
            </div>
        </div>
    </div>
</div>

