<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Your Mood History</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="chartJsCtrl">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Your last 20 Check ins
                        <small>See how you've done</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas linechart id="myChart" options="lineOptions" data="lineData" height="140" responsive=true ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Breakdown by moods </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas doughnutchart options="doughnutOptions" data="doughnutData" height="140" responsive=true></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
