<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    How do you feel today?
                </h1>

                <button class="btn btn-primary dim btn-large-dim" type="button">I feel awesome! <i class="fa fa-thumbs-up"></i></button><br>
                <button class="btn btn-success dim btn-large-dim" type="button">I feel OK <i class="fa fa-thumbs-up"></i></button><br>
                <button class="btn btn-warning dim btn-large-dim" type="button">I feel bad! <i class="fa fa-thumbs-down"></i></button><br>
                <button class="btn btn-danger dim btn-large-dim" type="button">I might relapse! <i class="fa fa-thumbs-up"></i></button><br>


            </div>
        </div>
    </div>
</div>