<div ng-controller="profileCtrl">
<div class="row" >
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Change your password

                </h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <form  class="form-horizontal" >
                    <div class="form-group"><label class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-5"><input type="password" ng-model="newP" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Confirm Password</label>

                        <div class="col-sm-5"><input type="password" ng-model="confirmedPassword" class="form-control">

                        </div>
                    </div>
                        <h3>{{successMessage}}</h3>


                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <button class="btn btn-white" ui-sref="checkin" type="cancel">Cancel</button>
                            <button class="btn btn-primary" ng-click="newPassword()">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>