<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form-horizontal" action="newnote" method="post">
    <div class="form-group">
        <label class="col-md-4 control-label" for="memberName">memberNAme</label>
            <select id="memberName" class="form-control" name="memberName">
                <option value="Susie">Susie</option>
                <option value="Miley">Miley</option>
                <option value="Pamela">Pamela</option>
                <option value="Carmen">Carmen</option>

            </select>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="project">project</label>
        <select id="project" name="project" class="form-control">
            <option value="matrix">matrix</option>
            <option value="stupid">stupid</option>
            <option value="good">good</option>
            <option value="terrible">terrible</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="workYesterday">workYesterday</label>
        <textarea class="form-control" id="workYesterday" name="workYesterday"></textarea>

        </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="workToday">workToday</label>
        <textarea class="form-control" id="workToday" name="workToday"></textarea>

    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="impediment">impediment</label>
        <textarea class="form-control" id="impediment" name="impediment"></textarea>

    </div>
    <div class="form-group">

        <button id="btnSaveNote" name="btnSaveNote" class="btn btn-primary">Save Note</button>

    </div>

</form>
</body>
</html>